.ShowInfo {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.ShowInfo__title {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.ShowInfo__title span {
    font-weight: 600;
}
.ShowInfo__paragraph {}
.ShowInfo__paragraph span {
    color: #6b6b6b;
}